@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.banner-image {
    background-image: url("https://png.pngtree.com/background/20230411/original/pngtree-coffee-drink-hot-drink-brown-coffee-beans-picture-image_2392459.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.heading {
    font-weight: bold;
}

#menu-bar {
    font-size: 1.3rem;
}

#menu-bar:hover {
    color: grey;
}

.dot {
    color: brown;
    margin-left: 0.6rem;
}

.custom-button1{
    color: white;
    background-color: transparent;
    border-width: 3px;
    border-color: white;
    border-radius: 10px;
    width: 150px;
    height: 50px;
}

.custom-button1:hover {
    color: black;
    background-color: white;
}

.banner-heading {
    color: white;
    font-weight: bold;
    font-size: 4rem;
    padding-top: 17rem;
}

.banner-line {
    font-size: 2.7rem;
    color: white;
}

.banner {
    margin-left: 7rem;
}

.heading2 {
    font-weight: bold;
    background-color:  #d19e90;
}

.image1 {
    height: 20rem;
    width: 20rem;
}

.para {
    color: #6e6b6a;
    font-size: 1.2rem;
}

.dot1 {
    color: brown;
}

.card-image {
    max-width: 10rem;
    height: 10rem;
    border-radius: 1rem;
    margin-left: 0;
}

#card-info {
    max-width: 55rem;
    min-width: 13rem;
}

.mini-card {
    border: 2px solid grey;
    padding: 1rem;
}

#container3 {
    background-color: #ebe9e8;
    padding-bottom: 0.3rem;
}

.info {
    
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.info-icon {
    color: rgb(87, 85, 85);
}

#button {
    border: 2px solid black;
    background-color: #d19e90;
    margin-top: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

.colrow {
    border: 3px solid black;
    margin-top: 1rem;
    padding: 2rem;
}

input {
    margin-top: 2rem;
}

.coffee-image {
    height: 20rem;
    max-width: 21rem;
}

#message {
    margin-top: 1.5rem;
}

.menu-item-image {
    height: 15rem;
    max-width: 25rem;
}

#border {
    border : 6px solid #d19e90;
    width: 100%;
}

.card-title {
    font-size: 1.2rem;
    margin-left: 0.5rem;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.line1, .line2, .line3 {
    opacity: 0;
    animation-fill-mode: forwards;
}

.line1 {
    animation: slideInLeft 1s ease-out;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.line2 {
    animation: slideInLeft 1s ease-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.line3 {
    animation: slideInLeft 1s ease-out;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@media (max-width: 350px) {
    .image1 {
        height: auto;
        width: 15rem;
    }

    .coffee-image {
        width: 16rem;
        height: 13rem;
    }

    .banner-heading {
        color: white;
        font-weight: bold;
        font-size: 3rem;
        padding-top: 17rem;
    }
    
    .banner-line {
        font-size: 2rem;
        color: white;
    }
    
    .banner {
        margin-left: 5rem;
    }

}